/*Inspiration af time-line "https://www.youtube.com/watch?v=AIDiMA_C3sg"*/

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {

    /*FARVER*/

    --primary-color: #E30613;
    --text-color: #1D1D1B;
    --sektion-color-grey: #DADADA;
    --sektion-color-blue: #E8F1F8;
    --background-color: #FFFFFF;
    --hover-color-primary: #E9656C;
    --hover-color-secondary: #FFF0F1;

    /*TYPOGRAFI*/

    /* Font family */
    --font-primary: 'Open Sans', sans-serif;

    /* Font sizes */
    --font-size-h1: 1.625rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-body: 1rem;
    --font-size-caption: 1rem;
    --font-size-cta: 1rem;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Line heights */
    --line-height-h1: 1.2;
    --line-height-h2: 1.3;
    --line-height-h3: 1.5;
    --line-height-body: 1.5;
    --line-height-caption: 1.4;

    /*SPACING*/
    --spacing-xs: 0.4rem;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 2.5rem;
    --spacing-3xl: 3rem;

    /*BORDER RADUIS*/
    --radius-s: 8px;
    --radius-l: 16px;

    /* GRID */
    --grid-columns-desktop: 12;
    --grid-columns-tablet: 8;
    --grid-columns-mobile: 4;
    --grid-gap: 24px;
    --container-max-width: 1200px;
    --container-padding: 24px;

    /* breakpoints */
    --breakpoint-mobile: 768px;
    --breakpoint-tablet: 1024px;
}


/* STYLING AF ELEMENTER */

/* BODY */

body {
    font-family: var(--font-primary);
    margin: 0;
    background-color: var(--background-color);
}

/* typografi*/
h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-h1);
    color: var(--text-color);
    text-align: center;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-h2);
    color: var(--text-color);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-h3);
    color: var(--text-color);
}

p {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body);
    color: var(--text-color);
}

/*GRID*/
.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns-mobile), 1fr);
    width: 100%;
    max-width: var(--container-max-width);
    margin-inline: auto;
    padding-inline: var(--container-padding);
    column-gap: var(--grid-gap);
}

section {
    margin-bottom: var(--spacing-3xl);
}

/*Process SECTION*/
.process {
    background-color: var(--sektion-color-blue);
    border-radius: var(--radius-l);
    padding-block: var(--spacing-xl);
    margin: var(--spacing-l);
}

/*service card*/
.service-card {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    column-gap: var(--spacing-l);
    align-items: start;
    grid-column: 1 / -1;
}

/*service card content*/
.service-card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

/*service card img*/
.service-card__content img {
    margin-bottom: var(--spacing-2xl);
}

/*TIMELINE*/
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/*timeline circle*/
.timeline__circle {
    width: 2rem;
    height: 2rem;
    border: 0.15rem solid var(--primary-color);
    border-radius: 50%;
    background-color: var(--background-color);
    flex-shrink: 0;
}

/*timeline line*/
.timeline-line {
    width: 0.25rem;
    height: 100%;
    background-image: repeating-linear-gradient(to bottom,
            var(--primary-color) 0 1rem,
            transparent 1rem 1.5rem);
}

.process h1 {
    grid-column: 1 / -1;
}


img {
    max-width: 100%;
    display: block;
}

/*KNAPPER*/

/* button*/
.btn {
    font-size: var(--font-size-cta);
    font-weight: var(--font-weight-semibold);
    border-radius: var(--radius-l);
    padding: var(--spacing-m) var(--spacing-xl);
    transition: 0.3s ease;
    width: fit-content;
    white-space: nowrap;
    grid-column: 1 / -1;
    justify-self: center;
    margin-block: var(--spacing-m);
}

/*primary button*/
.btn--primary {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
}

/*primary button hover*/
.btn--primary:hover {
    background-color: var(--hover-color-primary);
}


/*secondary button outline*/
.btn--secondary {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

}

/*secondary button outline hover*/
.btn--secondary:hover {
    background-color: var(--hover-color-secondary);
}

/*FAQ*/
.faq {}

.faq__item {
    background-color: var(--sektion-color-grey);
    border-radius: var(--radius-l);
    margin-bottom: var(--spacing-s);
    overflow: hidden;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.faq__title {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-body);
    color: var(--text-color);
}

.faq__answer {
    display: none;
}

.faq .container {
    display: flex;
    flex-direction: column;
}


/* OM TEAMET */
.om-teamet {
    background-color: var(--background-color);
}

.om-teamet .container {
    grid-template-columns: repeat(var(--grid-columns-mobile), 1fr);
    align-items: start;
    gap: var(--spacing-l)
}

.om-teamet__image-wrapper {
    grid-column: 1 / -1;
}

/* OM TEAMET IMAGE */
.om-teamet__image {
    width: 100%;
    height: auto;
}

/* Sarah - Prompt 10 */
/* OM TEAMET CONTENT */
.om-teamet__content {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}


/* Sarah - Prompt 7*/
/*TABLET*/
@media (min-width: 768px) {
    :root {
        --container-padding: 5rem;
    }

    h1 {
        font-size: 2rem;
        justify-self: center;
        text-align: center;
    }


    .process h1 {
        max-width: 45rem;
        margin-inline: auto;
        margin-bottom: 4rem;
    }

    .om-teamet .container {
        grid-template-columns: repeat(var(--grid-columns-tablet), 1fr);
        align-items: center;
    }

    .om-teamet__image-wrapper {
        grid-column: 1 / 5;
    }

    .om-teamet__content {
        grid-column: 5 / 9;
    }


}

/*DESKTOP*/
@media (min-width: 1024px) {

    :root {
        --container-padding: 5rem;
    }

    h1 {
        font-size: 2rem;
        justify-self: center;
        text-align: center;
    }

    section {
        margin-bottom: var(--spacing-3xl);
    }

    .container h1 {
        max-width: 45rem;
        margin-inline: auto;
        margin-bottom: 4rem;
    }

    .om-teamet .container {
        grid-template-columns: repeat(var(--grid-columns-desktop), 1fr);
    }

    .om-teamet__image-wrapper {
        grid-column: 1 / 7;
    }

    .om-teamet__content {
        grid-column: 7 / 13;
    }

    /**/

    .service-card {
        display: grid;
        grid-template-columns: 1fr 5rem 1fr;
        align-items: center;
        column-gap: 2rem;
    }

    .timeline {
        grid-column: 2;
        justify-items: center;
    }

    .timeline-line {
        width: 0.25rem;
        height: 26rem;

        margin-bottom: -18rem;

        background-image: repeating-linear-gradient(to bottom,
                var(--primary-color) 0 1rem,
                transparent 1rem 1.5rem);
    }

    .service-card__content {
        display: contents;
    }

    .service-card__content img {
        grid-column: 1;

        justify-self: end;
        max-width: 22rem;
        max-height: 18rem;
        margin-bottom: 0;
        justify-self: center;
    }

    .service-card__text {
        grid-column: 3;

        max-width: 28rem;
        text-align: center;
        justify-self: center;
    }
}